<!-- 
    File Name: about.ejs
    Student Name: Yee Ling Yuen
    Student ID: 301315346
    Date:   09-26-2023
 -->
 
<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

<!--<img src="img/logo.png" alt="logo"> -->

<main class="ontainer">
<div class="jumbotron">

    <h1>About me</h1>
    
    <p>I'm Elaine.</p>
    <p>I'm currently in my third semester, studying Software Engineering Technician. </p>
    <p>I'm excited to meet each one of you and want to wish everyone the best of luck in their studies.
        Let's embark on this learning journey together!
    </p>
    <div>
        <div>
            <ul>
                <li>Name: Yee Ling Yuen</li>
                <li>Favorite Activities: Hiking, Bouldering, Making Coffee</li>
                <li>Email: yyuen11@my.centennialcollege.ca</li>
            </ul>
        </div>
    </div>
    <div style="text-align: center;">
        <img src="img/pro_pic.png" alt="Profile Picture" width="400" height="auto">
    </div>
    
    <p class="resume">Please click <a href="/Assets/resume.pdf" target="_blank"><u>here</u></a> to check my resume.</p>
    </div>
</main>

      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>



   