<!-- 
    File Name: index.ejs
    Student Name: Yee Ling Yuen
    Student ID: 301315346
    Date:   09-26-2023
 -->

<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>


<main class="ontainer">
    <div style="text-align: center;">

        <h1>Hi, it's Elaine Homepage!</h1>
        <img src="img/logo.png" alt="logo" width="400" height="auto">
        <h2>True mastery of any skill takes a lifetime.</h2>
    </div>
</main>

<%- include ('partials/bottom_nav.ejs') %>
<%- include ('partials/footer.ejs') %>



   